* {
    margin: 0px;
    padding: 0px;
}

h1 {
    display: inline-block;
}

img.ninja {
    width: 70px;
    display: inline-block;
}

#contenedor {
    background-color: #5b4088;
    width: 800px;
    height: 740px;
}

#titulo {
    margin-left: 170px;
    padding-top: 30px;
}

#cajagrande {
    margin: 20px;
}

div.cubo1 {
    width: 122px;
    background-color: #75265e;
    padding: 5px;
    margin: 4px;
    border: 2px solid black;
    display: inline-block;
}

div.cubo2 {
    width: 122px;
    height: auto;
    background-color: #7e5b76;
    padding: 5px;
    margin: 4px;
    border: 2px solid black;
    display: inline-block;
}

img.imggato {
    width: 110px;
    height: 100px;
    padding: 7px;
}