    * {
        margin: 0px;
        padding: 0px;
    }
    
    #container {
        width: 970px;
        height: 600px;
        background-color: darkblue;
        margin: auto;
        padding: 15px;
    }
    
    #header {
        width: 900px;
        height: 60px;
        background-color: darkgoldenrod;
        border-radius: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }
    
    #navigation {
        background-color: #2a7d8c;
        height: 200px;
        width: 200px;
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        padding: 20px;
        border-radius: 15px;
    }
    
    #submenu {
        padding-left: 15px;
        list-style-type: none;
    }
    
    a {
        color: darkblue;
    }
    
     ::marker {
        color: white;
    }
    
    #main_content {
        width: 600px;
        height: 300px;
        background-color: black;
        border-radius: 20px;
        vertical-align: top;
        padding: 10px 20px 30px 40px;
        display: inline-block;
    }
    
    #footer {
        width: 950px;
        height: 50px;
        background-color: cornflowerblue;
        border-radius: 20px;
        margin-top: 50px;
        margin-left: 5px;
        display: inline-block;
        padding: 10px;
    }